.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 40px;
}

.navigation-button {
  color: #f3f3f3;
  padding: 20px;
  margin: 0 30%;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  min-width: 150px;
  background: #18352c;
  border-radius: 15px;
  box-shadow: #0a1914 8px 8px 0;
  text-decoration: none;
  margin-top: 40px;
  font-weight: bold;
}

.navigation-button:hover {
  background-color: #20483c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
